<form class="container w-50 my-5 border border-dark border-2 p-2 rounded-4">
  <h2>Login</h2>
  <div class="mb-3">
    <label for="email" class="form-label ">Email address</label>
    <input type="email" class="form-control border-0" id="email-login" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control border-0" id="password-login">
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>